{
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.9.0",
        "id": "{{ juiceshop_tenant | lower }}",
        "label": "{{ juiceshop_tenant }}",
        "remark": "Juice Shop Web App",
        "{{ juiceshop_tenant }}": {
            "class": "Tenant",
            "Application_1": {
                "class": "Application",
                "template": "http",
                "serviceMain": {
                    "class": "Service_HTTP",
                    "virtualAddresses": [
                        "{{ juiceshop_virtual_address }}"
                    ],
                    "pool": "web_pool",
                    "profileTrafficLog": {
                        "bigip": "/Common/Shared/telemetry_traffic_log_profile"
                    },
                    "policyWAF": {
                        "use": "ASM_Policy"
                    },
                    "securityLogProfiles": [
                        {
                            "bigip": "/Common/Shared/telemetry_security_log_profile"
                        },
                        {
                            "bigip": "/Common/Log illegal requests"
                        }
                    ]
                },
                "web_pool": {
                    "class": "Pool",
                    "monitors": [
                        {
                            "use": "http_{{ juiceshop_tenant | lower }}"
                        }
                    ],
                    "members": [
                        {
                            "servicePort": {{ juiceshop_server_port }},
                            "serverAddresses": [
                                "{{ app_server_address }}"
                            ],
                            "shareNodes": true
                        }
                    ]
                },
                "http_{{ juiceshop_tenant | lower }}": {
                    "class": "Monitor",
                    "monitorType": "http",
                    "send": "GET / HTTP/1.0\r\n",
                    "receive": "HTTP/1.1 200 OK",
                    "interval": 5,
                    "timeout": 16
                },
                "ASM_Policy": {
                    "class": "WAF_Policy",
                    "url": "https://raw.githubusercontent.com/aknot242/ansible-uber-demo/master/ansible/roles/big-ip/files/JuiceShop_ASM_Policy.xml",
                    "ignoreChanges": false
                }
            }
        }
    }
}
