
{
    "schemaVersion": "1.0.0",
    "class": "Device",
    "async": true,
    "Common": {
        "class": "Tenant",
        "hostname": "{{ bigip_hostname }}",
{% if bigip_license is defined and bigip_license|length %}
        "myLicense": {
            "class": "License",
            "licenseType": "regKey",
            "regKey": "{{ bigip_license }}",
            "overwrite": true
        },
{% endif %}
        "myDns": {
            "class": "DNS",
            "nameServers": [
                {{ bigip_dns_server }}
            ],
            "search": [
                {{ bigip_dns_search }}
            ]
        },
        "myNtp": {
            "class": "NTP",
            "servers": [
                {{ bigip_ntp_server }}
            ],
            "timezone": "{{ bigip_ntp_timezone }}"
        },
        "myProvisioning": {
            "class": "Provision",
            "ltm": "nominal",
            "asm": "nominal"
        },
        "external": {
            "class": "VLAN",
            "tag": 10,
            "mtu": 1500,
            "interfaces": [
                {
                    "name": "1.1",
                    "tagged": false
                }
            ]
        },
        "internal": {
            "class": "VLAN",
            "tag": 20,
            "mtu": 1500,
            "interfaces": [
                {
                    "name": "1.2",
                    "tagged": false
                }
            ]
        },
        "external-self": {
            "class": "SelfIp",
            "address": "{{ bigip_external_self_ip }}",
            "vlan": "external",
            "allowService": [
                "tcp:443"
            ],
            "trafficGroup": "traffic-group-local-only"
        },
        "internal-self": {
            "class": "SelfIp",
            "address": "{{ bigip_internal_self_ip }}",
            "vlan": "internal",
            "allowService": "default",
            "trafficGroup": "traffic-group-local-only"
        }
    }
}